{% extends "wrapper.html" %}

{% block content %}
      <!--end logo_block-->
      <div class="name_link">
        <div class="name">
          <div class="inner">
            <div class="tabs_items_name">
              <div class="item active">
                <h3>ТЦ Великан Парк, Санкт-Петербург</h3>
                <span>24 арендатора, 13 в чате</span>
              </div>
              <div class="item">
                <h3>ТЦ Великан Парк, Санкт-Петербург</h3>
                <span>24 арендатора, 13 в чате</span>
              </div>
              <div class="item">
                <h3>Международный</h3>
                <span>24 арендатора, 13 в чате</span>
              </div>
              <div class="item">
                <h3>Континент Бухарестская</h3>
                <span>24 арендатора, 13 в чате</span>
              </div>
              <div class="item">
                <h3>Адмирал</h3>
                <span>24 арендатора, 13 в чате</span>
              </div>
              <div class="item">
                <h3>Радиус</h3>
                <span>24 арендатора, 13 в чате</span>
              </div>
            </div>
            <div class="key"></div>
          </div>
        </div>
        <!--end name-->
        <div class="big_block">
          <div class="inner">
            <div class="tabs_links fleft">
              <ul>
                <li class="active rL box">
                  <div class="tabs_name tabs_name_2">
                    <div class="tabs_letter fleft">
                      <span>Ж</span>
                    </div>
                    <div class="time flex a_center fright">
                      <div>
                        <span>2</span>
                      </div>
                    </div>
                    <div class="tabs_title rL hid">
                      <h3>Жалобы</h3>
                    </div>
                    <div class="clear"></div>
                  </div>
                </li>
                <li class="rL box">
                  <div class="tabs_name">
                    <div class="tabs_letter fleft">
                      <span>г</span>
                    </div>
                    <div class="time fright">
                      <span>14:53</span>
                    </div>
                    <div class="tabs_title rL hid">
                      <h3>Великан Парк</h3>
                      <p>Вы: Полностью поддерживаю
                        идею ультиматума!</p>
                    </div>
                    <div class="clear"></div>
                  </div>
                </li>
                <li class="rL box">
                  <div class="tabs_name">
                    <div class="tabs_letter fleft">
                      <span>м</span>
                    </div>
                    <div class="time fright">
                      <span>12:53</span>
                    </div>
                    <div class="tabs_title rL hid">
                      <h3>Международный</h3>
                      <p>
                        М.Видео: Отличное решение!
                      </p>
                    </div>
                    <div class="clear"></div>
                  </div>
                </li>
                <li class="rL box">
                  <div class="tabs_name">
                    <div class="tabs_letter fleft">
                      <span>К</span>
                    </div>
                    <div class="time alCenter fright">
                      <span>Чт</span>
                      <div class="m0a">
                        <p>4</p>
                      </div>
                    </div>
                    <div class="tabs_title rL hid">
                      <h3 class="ell db">Континент Бухарестская</h3>
                      <p>Pull&amp;Bear: Вместе — мы сила!</p>
                    </div>
                    <div class="clear"></div>
                  </div>
                </li>
                <li class="rL box">
                  <div class="tabs_name">
                    <div class="tabs_letter fleft">
                      <span>А</span>
                    </div>
                    <div class="time alCenter fright">
                      <span>Вт</span>
                      <div class="m0a">
                        <p>2</p>
                      </div>
                    </div>
                    <div class="tabs_title rL hid">
                      <h3>Адмирал</h3>
                      <p class="ell db">Adidas: Подписываюсь под всем
                        сказанным ранее и хочу также…</p>
                    </div>
                    <div class="clear"></div>
                  </div>
                </li>
                <li class="rL box">
                  <div class="tabs_name">
                    <div class="tabs_letter fleft">
                      <span>Р</span>
                    </div>
                    <div class="time alCenter fright">
                      <span>Вт</span>
                    </div>
                    <div class="tabs_title">
                      <h3>Радиус</h3>
                      <p class="db ell">Re:Store: Полностью
                        поддерживаю, в любой ситуации…</p>
                    </div>
                    <div class="clear"></div>
                  </div>
                </li>
              </ul>
            </div>
            <!--end tabs_links-->
            <div class="rL hid feedback feedback_2">
              <div class="tabs_items">
                <div class="item active">
                  <span class="date">14 апреля</span>
                  <div class="wrap">
                    <div class="item_block">
                      <div class="block_2 rL">
                        <h3>Puma</h3>
                        <p>
                          Тайлер становится под единственную лампу, которая висит посередине подвала, и видит, как из темноты блестят сотни глаз. И тогда Тайлер громко произносит:
                          —&nbsp;Первое правило бойцовского клуба: никому не рассказывать о бойцовском клубе.
                          —&nbsp;Второе правило бойцовского клуба,&nbsp;— продолжает Тайлер,&nbsp;— никому никогда
                          не рассказывать о бойцовском клубе.
                          От меня отец ушёл, когда мне уже исполнилось шесть лет, но я всё равно его не
                          помню. У моего отца привычка заводить новую семью в новом
                        </p>
                        <span class="time">14:53</span>
                      </div>
                      <div class="block_3">
                        <form class="m0a flex betw decision">
                          <button class="leave rL" type="submit">Оставить</button>
                          <button class="del rL" type="reset">Удалить</button>
                        </form>
                      </div>
                    </div>
                    <!--end item_block-->
                    <div class="item_block">
                      <div class="block_2 rL">
                        <h3>Pull&amp;Bear</h3>
                        <p>
                          Здравствуйте!
                          Друзья, хочу вас всех призвать к ультиматуму руководства нашего ТЦ,
                          заплатить полную стоимость аренда за прошедший месяц просто-напросто
                          не представляется возможным. Считаю, что пункты, прописанные в конктракте
                          в отсутствии экономического кризиса теряют свою силу при нынешних
                          обстоятельсвах.
                          Прелагаю выдвинуть совместный ультиматум для того, чтобы повлиять
                          на ситуацию!
                        </p>
                        <span class="time">14:56</span>
                      </div>
                      <div class="block_3">
                        <form class="m0a flex betw decision">
                          <button class="leave rL" type="submit">Оставить</button>
                          <button class="del rL" type="reset">Удалить</button>
                        </form>
                      </div>
                    </div>
                    <!--end item_block-->
                    <div class="item_block">
                      <div class="block_2 rL">
                        <h3>Coffit</h3>
                        <p>
                          Считаю происходящее в нашем торговом центре свинством
                        </p>
                        <p>
                          Каким образом, по мнению арендатора, я должен заплатить обычную сумму аренды,
                          если количество посетителей уменьшилось втрое?
                        </p>
                        <p>
                          Полностью поддерживаю идею ультиматума!
                        </p>
                        <span class="time">15:33</span>
                      </div>
                      <div class="block_3">
                        <form class="m0a flex betw decision">
                          <button class="leave rL" type="submit">Оставить</button>
                          <button class="del rL" type="reset">Удалить</button>
                        </form>
                      </div>
                    </div>
                    <!--end item_block-->
                    <div class="item_block">
                      <div class="block_2 rL">
                        <h3>Coffit</h3>
                        <p>
                          Считаю происходящее в нашем торговом центре свинством
                        </p>
                        <p>
                          Каким образом, по мнению арендатора, я должен заплатить обычную сумму аренды,
                          если количество посетителей уменьшилось втрое?
                        </p>
                        <p>
                          Полностью поддерживаю идею ультиматума!
                        </p>
                        <span class="time">15:33</span>
                      </div>
                      <div class="block_3">
                        <form class="m0a flex betw decision">
                          <button class="leave rL" type="submit">Оставить</button>
                          <button class="del rL" type="reset">Удалить</button>
                        </form>
                      </div>
                    </div>
                    <!--end item_block-->
                  </div>
                  <div class="item_form">
                    <form class="rL flex betw a_center" method="post">
                      <textarea name="name" placeholder="Cообщение…"></textarea>
                      <button type="submit" name="button"></button>
                    </form>
                  </div>
                  <!--end item_form-->
                </div>
                <div class="item">
                  <span class="data">14 апреля</span>
                  <div class="wrap">
                    <div class="block_1 rL m0a">
                      <h3>
                        Pull&amp;Bear стал почётным членом «RestAlliance» и оставил отзыв
                      </h3>
                      <p>
                        Тайлер становится под единственную лампу, которая висит посередине подвала, и видит, как из темноты блестят сотни глаз. И тогда Тайлер громко произносит:
                        —&nbsp;Первое правило бойцовского клуба: никому не рассказывать о бойцовском клубе.
                        —&nbsp;Второе правило бойцовского клуба,&nbsp;— продолжает Тайлер,&nbsp;— никому никогда
                        не рассказывать о бойцовском клубе.
                        От меня отец ушёл, когда мне уже исполнилось шесть лет, но я всё равно его не
                        помню. У моего отца привычка заводить новую семью в новом
                      </p>
                      <span class="time">14:53</span>
                    </div>
                    <!--end block_1-->
                    <div class="block_1 rL block_2 fleft">
                      <h3>
                        Pull&amp;Bear
                      </h3>
                      <p>
                        Здравствуйте!
                        Друзья, хочу вас всех призвать к ультиматуму руководства нашего ТЦ,
                        заплатить полную стоимость аренда за прошедший месяц просто-напросто
                        не представляется возможным. Считаю, что пункты, прописанные в конктракте
                        в отсутствии экономического кризиса теряют свою силу при нынешних
                        обстоятельсвах.
                        Прелагаю выдвинуть совместный ультиматум для того, чтобы повлиять
                        на ситуацию!
                      </p>
                      <span class="time">14:56</span>
                    </div>
                    <!--end block_1-->
                    <div class="clear"></div>
                    <div class="block_1 block_3 rL fright">
                      <h3>
                        Coffit
                      </h3>
                      <p>
                        Считаю происходящее в нашем торговом центре свинством
                      </p>
                      <p>
                        Каким образом, по мнению арендатора, я должен заплатить обычную сумму аренды,
                        если количество посетителей уменьшилось втрое?
                      </p>
                      <p>
                        Полностью поддерживаю идею ультиматума!
                      </p>
                      <span class="time">15:33</span>
                    </div>
                    <!--end block_1-->
                    <div class="clear"></div>
                  </div>
                  <div class="item_form">
                    <form class="rL flex betw a_center" method="post">
                      <textarea name="name" placeholder="Cообщение…"></textarea>
                      <button type="submit" name="button"></button>
                    </form>
                  </div>
                  <!--end item_form-->
                </div>
                <div class="item">
                  <div class="vote">
                    <div class="inner">
                      <div class="title alCenter">
                        <span>Чтобы участвовать в данном чате заполните анкету и напишите отзыв про данного арендодателя</span>
                        <p>
                          Расскажите о своём арендодателе (1 — очень плохо; 10 — очень хорошо):
                        </p>
                      </div>
                      <div class="vote_block">
                        <div class="list">
                          <ul>
                            <li>
                              <p>
                                Оцените от 1 до 10 качество предоставленного вам в аренду помещения
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 комфортность и лёгкость выполнения условий заключённого
                                контракта по аренде
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 вероятность что вы работали бы с этим арендодателем, если
                                бы заранее знали что дела будут идти так как идут
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 соотношение цена/качество предоставленного вам в аренду
                                помещения
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 степень вежливости и открытости вашего арендодателя
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 насколько в целом Вы довольны нынешним положением дел
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 качество коммуникаций
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 вероятность того, что Вы порекомендуете другу арендовать
                                помещение в вашем ТЦ
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 насколько арендованная площадь оправдала ваши
                                ожидания
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 охраняемость ТЦ
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                          </ul>
                          <p class="text alCenter">
                            Общий рейтинг: <span>7,6</span>
                          </p>
                        </div>
                        <!--end list-->
                        <div class="comment">
                          <p>
                            Общий отзыв (Напишите здесь всё, что посчитаете нужным о своём опыте аренды):
                          </p>
                          <form method="post">
                            <textarea name="name" placeholder="">                              Тайлер становится под единственную лампу, которая висит посередине подвала, и видит, как из темноты
                              блестят сотни глаз.И тогда Тайлер громко произносит:
                              —&nbsp;Первое правило бойцовского клуба: никому не рассказывать о бойцовском клубе.
                              —&nbsp;Второе правило бойцовского клуба,&nbsp;— продолжает Тайлер,&nbsp;— никому никогда не рассказывать о
                              бойцовском клубе.
                              От меня отец ушёл, когда мне уже исполнилось шесть лет, но я всё равно его не помню. У моего отца
                              привычка заводить новую семью в новом городе каждые семь лет.
                              Он, очевидно, считает что семья — это что-то вроде сети фирменных ресторанов. В бойцовском клубе
                              собираются представители поколения мужчин, воспитанных женщинами.
                              Тайлер стоит под единственной лампой в кромешной тьме подвала, полного мужчин, и объявляет
                              остальные правила: дерутся дерутся двое, не более одного поединка на каждого, биться без обуви и
                              без рубашек, поединок продолжается столько, сколько потребуется.
                              —&nbsp;И седьмое правило,&nbsp;— громко объявляет Тайлер,&nbsp;— новичок обязан принять бой.
                              Ходить в бойцовский клуб — это совсем не то же самое, что смотреть футбол по телевизору. В
                              телевизоре ты видишь толпу незнакомцев, которые молотят друг друга на обратной стороне земного
                              шара. Сигнал передаётся через спутник с двухминутной задержкой, каждые десять минут матч
                              перебивается то рекламой пива, то заставкой канала. После первого посещения бойцовского клуба
                              люди начинают относиться к футболу по телевизору примерно так же, как к порнографии, когда под
                              боком — шикарная женщина.
                            </textarea>
                            <span>
                              Этот отзыв увидят все пользователи сайта
                            </span>
                            <button type="submit" name="button">Сохранить</button>
                          </form>
                        </div>
                        <!--end comment-->
                      </div>
                      <!--end vote_block-->
                    </div>
                  </div>
                  <!--end vote-->
                </div>
                <div class="item">
                  <span class="data">14 апреля</span>
                  <div class="wrap">
                    <div class="block_1 rL m0a">
                      <h3>
                        Pull&amp;Bear стал почётным членом «RestAlliance» и оставил отзыв
                      </h3>
                      <p>
                        Тайлер становится под единственную лампу, которая висит посередине подвала, и видит, как из темноты блестят сотни глаз. И тогда Тайлер громко произносит:
                        —&nbsp;Первое правило бойцовского клуба: никому не рассказывать о бойцовском клубе.
                        —&nbsp;Второе правило бойцовского клуба,&nbsp;— продолжает Тайлер,&nbsp;— никому никогда
                        не рассказывать о бойцовском клубе.
                        От меня отец ушёл, когда мне уже исполнилось шесть лет, но я всё равно его не
                        помню. У моего отца привычка заводить новую семью в новом
                      </p>
                      <span class="time">14:56</span>
                    </div>
                    <!--end block_1-->
                    <div class="block_1 rL block_2 fleft">
                      <h3>
                        Pull&amp;Bear
                      </h3>
                      <p>
                        Здравствуйте!
                        Друзья, хочу вас всех призвать к ультиматуму руководства нашего ТЦ,
                        заплатить полную стоимость аренда за прошедший месяц просто-напросто
                        не представляется возможным. Считаю, что пункты, прописанные в конктракте
                        в отсутствии экономического кризиса теряют свою силу при нынешних
                        обстоятельсвах.
                        Прелагаю выдвинуть совместный ультиматум для того, чтобы повлиять
                        на ситуацию!
                      </p>
                      <span class="time">14:56</span>
                    </div>
                    <!--end block_1-->
                    <div class="clear"></div>
                    <div class="block_1 block_3 rL fright">
                      <h3>
                        Coffit
                      </h3>
                      <p>
                        Считаю происходящее в нашем торговом центре свинством
                      </p>
                      <p>
                        Каким образом, по мнению арендатора, я должен заплатить обычную сумму аренды,
                        если количество посетителей уменьшилось втрое?
                      </p>
                      <p>
                        Полностью поддерживаю идею ультиматума!
                      </p>
                      <span class="time">15:33</span>
                    </div>
                    <!--end block_1-->
                    <div class="clear"></div>
                  </div>
                  <div class="item_form">
                    <form class="rL flex betw a_center" method="post">
                      <textarea name="name" placeholder="Cообщение…"></textarea>
                      <button type="submit" name="button"></button>
                    </form>
                  </div>
                  <!--end item_form-->
                </div>
                <div class="item">
                  <span class="data">14 апреля</span>
                  <div class="wrap">
                    <div class="block_1 rL m0a">
                      <h3>
                        Pull&amp;Bear стал почётным членом «RestAlliance» и оставил отзыв
                      </h3>
                      <p>
                        Тайлер становится под единственную лампу, которая висит посередине подвала, и видит, как из темноты блестят сотни глаз. И тогда Тайлер громко произносит:
                        —&nbsp;Первое правило бойцовского клуба: никому не рассказывать о бойцовском клубе.
                        —&nbsp;Второе правило бойцовского клуба,&nbsp;— продолжает Тайлер,&nbsp;— никому никогда
                        не рассказывать о бойцовском клубе.
                        От меня отец ушёл, когда мне уже исполнилось шесть лет, но я всё равно его не
                        помню. У моего отца привычка заводить новую семью в новом
                      </p>
                      <span class="time">14:56</span>
                    </div>
                    <!--end block_1-->
                    <div class="block_1 rL block_2 fleft">
                      <h3>
                        Pull&amp;Bear
                      </h3>
                      <p>
                        Здравствуйте!
                        Друзья, хочу вас всех призвать к ультиматуму руководства нашего ТЦ,
                        заплатить полную стоимость аренда за прошедший месяц просто-напросто
                        не представляется возможным. Считаю, что пункты, прописанные в конктракте
                        в отсутствии экономического кризиса теряют свою силу при нынешних
                        обстоятельсвах.
                        Прелагаю выдвинуть совместный ультиматум для того, чтобы повлиять
                        на ситуацию!
                      </p>
                      <span class="time">14:56</span>
                    </div>
                    <!--end block_1-->
                    <div class="clear"></div>
                    <div class="block_1 rL block_3 fright">
                      <h3>
                        Coffit
                      </h3>
                      <p>
                        Считаю происходящее в нашем торговом центре свинством
                      </p>
                      <p>
                        Каким образом, по мнению арендатора, я должен заплатить обычную сумму аренды,
                        если количество посетителей уменьшилось втрое?
                      </p>
                      <p>
                        Полностью поддерживаю идею ультиматума!
                      </p>
                      <span class="time">15:33</span>
                    </div>
                    <!--end block_1-->
                    <div class="clear"></div>
                  </div>
                  <div class="item_form">
                    <form class="rL flex betw a_center" method="post">
                      <textarea name="name" placeholder="Cообщение…"></textarea>
                      <button type="submit" name="button"></button>
                    </form>
                  </div>
                  <!--end item_form-->
                </div>
                <div class="item">
                  <div class="vote">
                    <div class="inner">
                      <div class="title alCenter">
                        <a href="http://alfa1978.hhos.ru/rent/page_6.html#">ТЦ Великан Парк</a>
                        <p>
                          Расскажите о своём арендодателе (1 — очень плохо; 10 — очень хорошо):
                        </p>
                      </div>
                      <div class="vote_block">
                        <div class="list">
                          <ul>
                            <li>
                              <p>
                                Оцените от 1 до 10 качество предоставленного вам в аренду помещения
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 комфортность и лёгкость выполнения условий заключённого
                                контракта по аренде
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 вероятность что вы работали бы с этим арендодателем, если
                                бы заранее знали что дела будут идти так как идут
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 соотношение цена/качество предоставленного вам в аренду
                                помещения
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 степень вежливости и открытости вашего арендодателя
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 насколько в целом Вы довольны нынешним положением дел
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 качество коммуникаций
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 вероятность того, что Вы порекомендуете другу арендовать
                                помещение в вашем ТЦ
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 насколько арендованная площадь оправдала ваши
                                ожидания
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                            <li>
                              <p>
                                Оцените от 1 до 10 охраняемость ТЦ
                              </p>
                              <select class="select nice selectBox" name="select" style="display: none;">
                                <option value="1">-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                              </select><a class="selectBox select nice selectBox-dropdown" style="display: inline-block;" title="" tabindex="NaN"><span class="selectBox-label">-</span><span class="selectBox-arrow"></span></a>
                            </li>
                          </ul>
                          <p class="text alCenter">
                            Общий рейтинг: <span>7,6</span>
                          </p>
                        </div>
                        <!--end list-->
                        <div class="comment">
                          <p>
                            Общий отзыв (Напишите здесь всё, что посчитаете нужным о своём опыте аренды):
                          </p>
                          <form method="post">
                            <textarea name="name" placeholder="Текст…"></textarea>
                            <span>
                              Этот отзыв увидят все пользователи сайта
                            </span>
                            <button type="submit" name="button">Сохранить</button>
                          </form>
                        </div>
                        <!--end comment-->
                      </div>
                      <!--end vote_block-->
                    </div>
                  </div>
                  <!--end vote-->
                </div>
              </div>
            </div>
            <!--end feedback-->
            <div class="clear"></div>
          </div>
        </div>
        <!--end big_block-->
      </div>
      <!--name_link-->
{% endblock %}